.button {
  background: #5f85db;
  border: none;
  color: #e2e3e3;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.button:hover,
.button:focus-visible {
  background: #5f84db9c;
}

.button.button_type_delete {
  background: #fc6042;
  transition: all 0.3s ease;
}

.button_type_delete:hover,
.button_type_delete:focus-visible {
  background: #fc6142a1;
}

.button_type_update {
  background: #3cda9f;
}

.button_type_update:hover,
.button_type_update:focus-visible {
  background: #3cdaa0aa;
}

.button_type_new-list {
  padding: 8px 16px;
}
